{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">{{ comic.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col m4">
            <img src="{{ comic.image_source }}" style="width:250px;height:350px" alt="Comic Detail for {{ comic.title }}" />
        </div>
        <div class="col m8">
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <em>Language: </em>{{ comic.language }}
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <em>Genre:</em> {{ comic.genre }}
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <em>Description:</em> {{ comic.description }}
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <em>Rating:</em> {{ comic.rating }}
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <em>Pages:</em> {{ comic.pages }}
                </li>
            </ul>
            <a href="https://www.amazon.co.uk/" class="waves-effect waves-light btn orange darken-1" target="_blank">Affiliate Link</a>
            <a href="{{ url_for('shop') }}" class="btn waves-effect waves-light cyan lighten-1">Back To Shop</a>
        </div>
    </div>
</div>

{% endblock %}
