{% extends 'base.html' %} {% block content %}

<div class="container-fluid" id="body-bg">
    <div class="container">
        <h2 class="left-align">What is Forex Comics?</h2>
        <div class="row">
            <div class="col s12 m9 left-align">
                <p>A platform to buy and exchange second-hand and brand new foreign language comics .</p>

                <p>We want to make learning a language fun.</p>

                <p>Graphic novels and comic books are a wonderful way to learn a language - using rich images and conversational styles to entertain children and adults alike.</p>

                <p>So whether you want to enjoy <b>Tintin</b> in the original French, or <b>The Walking Dead</b> in Spanish, <b>Forex Comics</b> provide a platform to improve your language skills and network with like-minded comic book fans.</p>
            </div>
            <div class="col m3">
                <img class="responsive-img" src="static/assets/images/background/zap.png" alt="zap-image">
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="static/assets/images/background/bookshelf.jpg" alt="shelf-image"></div>
    </div>

    <div class="container">
        <h2 class="center-align">Who is it for?</h2>
    </div>
    <hr width=50%>
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card small teal valign-wrapper">
                    <div class="card-content white-text">
                        <span class="card-title center-align">COMIC FANS</span>
                        <p class="center-align">Yes, I desperately want to trade and buy cheap comics!</p>
                        <p class="center-align">Tell me more!</p>
                        <div class="card-action center-align">
                            <a href="{{ url_for('database') }}" class="waves-effect waves-light btn pulse">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card small yellow valign-wrapper">
                    <div class="card-content black-text">
                        <span class="card-title center-align">LEARNER</span>
                        <p class="center-align">Yes, I really want to improve my language skills!</p>
                        <p class="center-align">Where do I start?</p>
                        <div class="card-action center-align">
                            <a href="{{ url_for('learner') }}" class="waves-effect waves-light btn pulse">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card small red valign-wrapper">
                    <div class="card-content black-text">
                        <span class="card-title center-align">SCHOOL</span>
                        <p class="center-align">Yes, I can see how this would benefit our language students.</p>
                        <p class="center-align">How does it work?</p>
                        <div class="card-action center-align">
                            <a href="{{ url_for('school') }}" class="waves-effect waves-light btn pulse">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
